[submodule "hue-bulb-scenes"]
	path = hue-bulb-scenes
	url = ../Hue-Bulb-Scenes.git
[submodule "ActiON"]
	path = ActiON
	url = ../ActiON.git
[submodule "moody-hue"]
	path = moody-hue
	url = ../moody-hue.git
[submodule "Smart-Lights"]
	path = Smart-Lights
	url = ../Smart-Lights.git
